/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    height: 10vh;
    width: 100%;
    background: lightblue;
    justify-content: center;
    align-items: center;
}

nav {
    background: coral;
    height: 5vh;
    margin-bottom: 5vh;
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
}

nav ul li {
    background: pink;
    margin-right: 2em;
    margin-left: 2em;
}

/* Index Styling */

#play-or-learn-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: lightskyblue;
    width: 100%;
    height: 60vh;
    min-height: 400px;
}

#play-game-box {
    background: blue;
    padding: 5em;
    border: solid 2px;
}

#learn-about-rgb-box {
    background: green;
    padding: 5em;
    border: solid 2px;
}

/* Game Page Styling */

#stripe {
    background-color: rgb(37, 37, 37);
    height: 30px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

.square {
    width: 30%;
    background: rgb(61, 50, 61);
    padding-bottom: 30%;
    float: left;
    margin: 1.5%;
    border-radius: 10%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}