/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    width: 80%;
    margin: auto;
    background: whitesmoke;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

header {
    display: flex;
    height: 10vh;
    width: 100%;
    background: lightblue;
    justify-content: center;
    align-items: center;
    min-height: 93px;
}

#header-text {
    font-size: 5em;
}

a {
    text-decoration: none;
}

button:hover, .square:hover {
    cursor: pointer;
}

/* Navigation */

nav {
    background: rgb(43, 42, 41);
    height: 5vh;
    min-height: 27px;
}

nav ul {
    display: flex;
    height: 100%;
    color: whitesmoke;
    font-family: arial;
    font-weight: bold;
}

nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
    background: rgb(15, 15, 15);
    padding: 0 2em;
    height: 100%;
}

nav ul a {
    margin: 0 2em; /* To add a margin between each of the navigation options */
    color: white;
}

/* Index Styling */

#play-or-learn-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
    min-height: 400px;
}

#play-game-box {
    background-image: linear-gradient(114deg, #ff0000 0%, #0b5e3b 46%, #2474c5 100%);
    padding: 5em;
    border: solid 2px black;
    text-transform: uppercase;
    border-radius: 2em;
    box-shadow: 0 8px 6px -6px black;
    color: white;
}

#learn-about-rgb-box {
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    text-transform: uppercase;
    border-radius: 2em;
    padding: 5em;
    border: solid 2px;
    box-shadow: 0 8px 6px -6px black;
    color: black;
}

/* Game Page Styling */

#colorDisplay {
    display: flex;
    justify-content: center;
    font-family: arial;
    text-transform: uppercase;
    font-size: 36px;
    text-shadow: 1px 1px 5px #444;
}

#stripe {
    background-color: rgb(37, 37, 37);
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#stripe div {
    width: 50%;
}

.mode {
    background: none;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    outline: inherit;
}

#message {
    color: whitesmoke;
    font-size: 1em;
    font-family: arial;
    text-transform: uppercase;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

#reset {
    display: block;
    width: 100%;
    font-size: 4em;
    border: none;
    background: none;
    text-transform: uppercase;
    outline: inherit;
    text-shadow: 2px 2px 3px black;
}

#reset:hover {
    color: darkgrey;
}

/* Game Button Options */

.square {
    width: 30%;
    background: whitesmoke;
    padding-bottom: 30%;
    float: left;
    margin: 1.5%;
    border-radius: 10%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background: lightblue;
}

footer span {
    display: flex;
    align-items: flex-end;
    height: 100%;
}